In [2]:
import pandas as pd

In [3]:
Economic_Status_DataSet = pd.read_csv('Economic Status DataSet.csv')

In [4]:
Economic_Status_DataSet.drop(columns=["Unnamed: 0"])

,Unnamed: 0.1,Entity ID,Gender,Marital Status,Dependents,Education,Entity's Income in INR,Entity's Family Income in INR,City Type,Average Expenditure per Entity per Month in INR,Economic Status
0,0,0,Female,Yes,4,PG,11000,43000,A,15000,Poor
1,1,1,Male,Yes,0,Ph.d,31000,303000,B,10000,Excellent
2,2,2,Male,Yes,3,UG,12000,398000,B,10000,Excellent
3,3,3,Female,Yes,0,Not Educated,11000,260000,A,15000,Good
4,4,4,Male,No,4,Ph.d,8000,306000,B,10000,Good
5,5,5,Male,Yes,0,PG,31000,64000,B,10000,Moderate
6,6,6,Male,Yes,3,Ph.d,19000,91000,C,5000,Moderate
7,7,7,Male,Yes,2,Ph.d,17000,301000,C,5000,Good
8,8,8,Male,Yes,3,Ph.d,12000,192000,B,10000,Moderate
9,9,9,Male,Yes,3,Ph.d,7000,17000,A,15000,Poor
10,10,10,Male,Yes,3,Ph.d,23000,233000,B,10000,Good
11,11,11,Female,No,0,Ph.d,48000,272000,C,5000,Good
12,12,12,Male,No,4,PG,11000,450000,B,10000,Excellent
13,13,13,Female,No,3,Ph.d,27000,183000,B,10000,Moderate
14,14,14,Female,Yes,3,Ph.d,26000,204000,B,10000,Good
15,15,15,Male,Yes,0,Ph.d,37000,173000,A,15000,Good
16,16,16,Male,Yes,1,Not Educated,33000,269000,D,2500,Good
17,17,17,Female,Yes,3,Ph.d,45000,150000,B,10000,Moderate
18,18,18,Male,Yes,3,UG,15000,151000,B,10000,Moderate
19,19,19,Male,Yes,2,PG,9000,92000,B,10000,Moderate
20,20,20,Male,Yes,1,Ph.d,16000,83000,D,2500,Moderate
21,21,21,Male,Yes,3,Ph.d,22000,341000,B,10000,Excellent
22,22,22,Male,Yes,0,PG,23000,426000,B,10000,Excellent
23,23,23,Male,Yes,5,Ph.d,11000,448000,B,10000,Excellent
24,24,24,Female,Yes,2,Ph.d,12000,136000,B,10000,Moderate
25,25,25,Male,Yes,4,Ph.d,6000,197000,B,10000,Moderate
26,26,26,Male,Yes,1,Ph.d,24000,292000,B,10000,Good
27,27,27,Male,Yes,2,Ph.d,21000,245000,B,10000,Good
28,28,28,Female,Yes,2,UG,16000,477000,B,10000,Excellent
29,29,29,Male,Yes,0,PG,41000,357000,D,2500,Excellent
...,...,...,...,...,...,...,...,...,...,...,...
49970,49970,49970,Male,Yes,3,Ph.d,22000,324000,B,10000,Excellent
49971,49971,49971,Male,Yes,0,Ph.d,29000,125000,D,2500,Moderate
49972,49972,49972,Male,Yes,1,Ph.d,42000,490000,A,15000,Excellent
49973,49973,49973,Male,Yes,5,Ph.d,48000,119000,B,10000,Moderate
49974,49974,49974,Female,Yes,2,Ph.d,49000,346000,B,10000,Excellent
49975,49975,49975,Male,Yes,3,Not Educated,28000,177000,B,10000,Moderate
49976,49976,49976,Female,Yes,2,Ph.d,12000,23000,C,5000,Average
49977,49977,49977,Male,Yes,3,Ph.d,47000,79000,B,10000,Average
49978,49978,49978,Male,Yes,4,Ph.d,34000,486000,A,15000,Excellent
49979,49979,49979,Male,Yes,3,Ph.d,10000,386000,C,5000,Excellent
49980,49980,49980,Male,Yes,1,Ph.d,44000,443000,A,15000,Excellent
49981,49981,49981,Female,No,3,Ph.d,7000,496000,C,5000,Excellent
49982,49982,49982,Female,Yes,5,UG,18000,277000,B,10000,Good
49983,49983,49983,Male,No,4,Ph.d,43000,284000,B,10000,Good
49984,49984,49984,Male,Yes,3,Ph.d,32000,110000,A,15000,Moderate
49985,49985,49985,Female,Yes,4,Ph.d,6000,19000,C,5000,Poor
49986,49986,49986,Male,Yes,5,Not Educated,48000,466000,B,10000,Excellent
49987,49987,49987,Male,No,4,Ph.d,24000,109000,B,10000,Moderate
49988,49988,49988,Male,Yes,4,Ph.d,34000,377000,C,5000,Excellent
49989,49989,49989,Male,No,4,Ph.d,34000,440000,D,2500,Excellent
49990,49990,49990,Male,No,1,Not Educated,10000,68000,A,15000,Average
49991,49991,49991,Male,Yes,4,Ph.d,23000,269000,B,10000,Good
49992,49992,49992,Male,No,4,Not Educated,44000,402000,C,5000,Excellent
49993,49993,49993,Male,No,3,UG,39000,235000,B,10000,Good
49994,49994,49994,Male,Yes,2,UG,8000,195000,C,5000,Good
49995,49995,49995,Female,Yes,0,Ph.d,18000,455000,B,10000,Excellent
49996,49996,49996,Male,Yes,2,UG,30000,120000,B,10000,Moderate
49997,49997,49997,Male,No,0,Ph.d,8000,172000,B,10000,Good
49998,49998,49998,Male,No,1,Not Educated,16000,447000,B,10000,Excellent
49999,49999,49999,Male,Yes,3,Ph.d,25000,237000,A,15000,Good

In [5]:
def scale_down(vector,scaling_factor):
    """Scales the values of a list down by the scaling factor and returns a list with these values"""
    size = len(vector)
    scaled_vector = list()
    for i in range(size):
        scaled_vector.append(vector[i]/scaling_factor)
    
    return scaled_vector

In [6]:
Subset = pd.DataFrame()
Dependents_scaled_vector = list()
Family_Income_scaled_vector = list()
Average_Expenditure_scaled_vector = list()
Dependents_scaling_factor = 10
Family_Income_scaling_factor = 1000000
Average_Expenditure_scaling_factor = 100000
Dependents_vector = Economic_Status_DataSet["Dependents"]
Family_Income_vector = Economic_Status_DataSet["Entity's Family Income in INR"]
Average_Expenditure_vector = Economic_Status_DataSet["Average Expenditure per Entity per Month in INR"]

Dependents_scaled_vector = scale_down(Dependents_vector,Dependents_scaling_factor)
Family_Income_scaled_vector = scale_down(Family_Income_vector,Family_Income_scaling_factor)
Average_Expenditure_scaled_vector = scale_down(Average_Expenditure_vector,Average_Expenditure_scaling_factor)

In [7]:
Subset["Dependents"] = Dependents_scaled_vector
Subset["Entity's Family Income in INR"] = Family_Income_scaled_vector
Subset["City Type"] = Economic_Status_DataSet["City Type"]
Subset["Average Expenditure per Entity per Month in INR"] = Average_Expenditure_scaled_vector
Subset["Economic Status"] = Economic_Status_DataSet["Economic Status"]

In [8]:
Subset

,Dependents,Entity's Family Income in INR,City Type,Average Expenditure per Entity per Month in INR,Economic Status
0,0.4,0.043,A,0.150,Poor
1,0.0,0.303,B,0.100,Excellent
2,0.3,0.398,B,0.100,Excellent
3,0.0,0.260,A,0.150,Good
4,0.4,0.306,B,0.100,Good
5,0.0,0.064,B,0.100,Moderate
6,0.3,0.091,C,0.050,Moderate
7,0.2,0.301,C,0.050,Good
8,0.3,0.192,B,0.100,Moderate
9,0.3,0.017,A,0.150,Poor
10,0.3,0.233,B,0.100,Good
11,0.0,0.272,C,0.050,Good
12,0.4,0.450,B,0.100,Excellent
13,0.3,0.183,B,0.100,Moderate
14,0.3,0.204,B,0.100,Good
15,0.0,0.173,A,0.150,Good
16,0.1,0.269,D,0.025,Good
17,0.3,0.150,B,0.100,Moderate
18,0.3,0.151,B,0.100,Moderate
19,0.2,0.092,B,0.100,Moderate
20,0.1,0.083,D,0.025,Moderate
21,0.3,0.341,B,0.100,Excellent
22,0.0,0.426,B,0.100,Excellent
23,0.5,0.448,B,0.100,Excellent
24,0.2,0.136,B,0.100,Moderate
25,0.4,0.197,B,0.100,Moderate
26,0.1,0.292,B,0.100,Good
27,0.2,0.245,B,0.100,Good
28,0.2,0.477,B,0.100,Excellent
29,0.0,0.357,D,0.025,Excellent
...,...,...,...,...,...
49970,0.3,0.324,B,0.100,Excellent
49971,0.0,0.125,D,0.025,Moderate
49972,0.1,0.490,A,0.150,Excellent
49973,0.5,0.119,B,0.100,Moderate
49974,0.2,0.346,B,0.100,Excellent
49975,0.3,0.177,B,0.100,Moderate
49976,0.2,0.023,C,0.050,Average
49977,0.3,0.079,B,0.100,Average
49978,0.4,0.486,A,0.150,Excellent
49979,0.3,0.386,C,0.050,Excellent
49980,0.1,0.443,A,0.150,Excellent
49981,0.3,0.496,C,0.050,Excellent
49982,0.5,0.277,B,0.100,Good
49983,0.4,0.284,B,0.100,Good
49984,0.3,0.110,A,0.150,Moderate
49985,0.4,0.019,C,0.050,Poor
49986,0.5,0.466,B,0.100,Excellent
49987,0.4,0.109,B,0.100,Moderate
49988,0.4,0.377,C,0.050,Excellent
49989,0.4,0.440,D,0.025,Excellent
49990,0.1,0.068,A,0.150,Average
49991,0.4,0.269,B,0.100,Good
49992,0.4,0.402,C,0.050,Excellent
49993,0.3,0.235,B,0.100,Good
49994,0.2,0.195,C,0.050,Good
49995,0.0,0.455,B,0.100,Excellent
49996,0.2,0.120,B,0.100,Moderate
49997,0.0,0.172,B,0.100,Good
49998,0.1,0.447,B,0.100,Excellent
49999,0.3,0.237,A,0.150,Good

In [9]:
#KNN Classifier

In [10]:
from sklearn import model_selection
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn import metrics

#o. Build a prediction model to find the new entityâ€™s Economic status 

features = ["Dependents","Entity's Family Income in INR","Average Expenditure per Entity per Month in INR"]
X = Subset[features]
Y = Subset["Economic Status"]

# 80% training and 20% test
from sklearn.neighbors import KNeighborsClassifier

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, Y, test_size=0.2,random_state=0)

knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)

training_accuracy = metrics.accuracy_score(y_train,knn.predict(X_train))
testing_accuracy = metrics.accuracy_score(y_test, y_pred)
print("model training accuracy = ",training_accuracy)
print("model testing accuracy = ",testing_accuracy)
report = classification_report(y_test, y_pred)
print(report) #p. Perform metric level analysis of the model

model training accuracy =  0.99925
model testing accuracy =  0.9984
              precision    recall  f1-score   support

     Average       1.00      1.00      1.00      1049
   Excellent       1.00      1.00      1.00      3898
        Good       1.00      1.00      1.00      2568
    Moderate       1.00      1.00      1.00      2283
        Poor       0.99      0.99      0.99       202

   micro avg       1.00      1.00      1.00     10000
   macro avg       1.00      1.00      1.00     10000
weighted avg       1.00      1.00      1.00     10000

In [11]:
#a. The typical shape of the training and testing data
print("shape of training data = ",len(X_train))
print("shape of testing data = ",len(X_test))

shape of training data =  40000
shape of testing data =  10000

In [12]:
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[1047    0    0    0    2]
 [   0 3897    1    0    0]
 [   0    4 2559    5    0]
 [   0    0    1 2282    0]
 [   3    0    0    0  199]]

In [15]:
Dependents_Input = 4
Entity_Family_Income_Input = 450000
Average_Expenditure_Input = 2000
print(12*(Entity_Family_Income_Input - Dependents_Input*Average_Expenditure_Input))
print("Inputs :")
print("Dependents (scaled)= ",Dependents_Input)
print("Entity's Family Income in INR (scaled) = ",Entity_Family_Income_Input)
print("Average Expenditure per Entity per Month in INR (scaled) = ",Average_Expenditure_Input)
predicted = knn.predict([[Dependents_Input / Dependents_scaling_factor,Entity_Family_Income_Input / Family_Income_scaling_factor,Average_Expenditure_Input / Average_Expenditure_scaling_factor]])

5304000
Inputs :
Dependents (scaled)=  4
Entity's Family Income in INR (scaled) =  450000
Average Expenditure per Entity per Month in INR (scaled) =  2000

In [16]:
print("Predicted for the Inputs for features as given above for Economic Status - ",predicted[0])

Predicted for the Inputs for features as given above for Economic Status -  Excellent